.item-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin: 0.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

img{
    width: 500px;
    height: auto;
    border-radius: 0.25rem;
}

.item-name{
    font-family: 'DynaPuff', cursive;
    height: 2rem;
    font-size: 1.5rem;
}


.item-description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 4rem;
}

.item-price{

}

.utility-buttons{
    display: flex;
}