.nav-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #405cf5;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: #405cf5;
}

.link-item {
    color: white;
    text-decoration: none;
}

.logo-text {
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
    font-family: 'Grand Hotel', cursive;
}

.nav-links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

.logo-img {
    width: 100px;
    height: auto;
}

.logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-symbol {
    font-size: 3rem;
}